<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
    <test name="Pixel_5">
        <listeners>
            <listener class-name="com.qa.listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value ="emulator-5554" />
        <parameter name="deviceName" value="Pixel_6_Pro_API_33" />
        <parameter name="systemPort" value="10000" />
        <parameter name="chromeDriverPort" value="11000" />
        <classes>
<!--            <class name="com.qa.tests.LoginTests"/>-->
            <class name="com.qa.tests.ProductTests"/>-->
        </classes>
    </test>

    <test name="iPhone14">
        <listeners>
            <listener class-name="com.qa.listeners.TestListener" />
        </listeners>
        <parameter name="platformName" value="iOS" />
        <parameter name="udid" value ="82DC5A28-2F0B-4069-9597-C85F2219BBDD" />
        <parameter name="deviceName" value="iPhone 14" />
        <parameter name="wdaLocalPort" value="10001" />
        <parameter name="webkitDebugProxyPort" value="11001" />
        <classes>
<!--            <class name="com.qa.tests.LoginTests"/>-->
            <class name="com.qa.tests.ProductTests"/>
        </classes>
    </test>
</suite> <!-- Suite -->